<a href="https://colab.research.google.com/github/Aitkenabrahamtom/-BA-with-Power-BI/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
;def Aitken():
  print("india is my country")

In [2]:
Aitken()

india is my country

In [3]:
def Aitken():
  print("your role number is",10)

In [5]:
 Aitken()

your role number is 10

In [7]:
def paaari(x):
  print("name:",c)
  print("your  roll no is",x)
  print("place:",y)
  print('email:',z)

In [11]:
c=input("enter the name")
x=int(input("enter the roll number"))
y=input("enter the place")
z=input("enter the email id")

enter the namehgdjg
enter the roll number5
enter the placeydty
enter the email idparvathyanish@gmail.com

In [22]:
def first(y):
  print("first name",y[0])

In [18]:
adef second(y):
  print("second name",y[1])

In [23]:
x=input('enter the name')
y=x.split(" ")
first(y)
second(y)

enter the nameaitken tom
first name aitken
second name tom