<a href="https://colab.research.google.com/github/Aitkenabrahamtom/-BA-with-Power-BI/blob/main/Untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("\"kathy\" joseph alexander")

"kathy" joseph alexander

In [4]:
print("he \n Aitken")

he
 Aitken

In [5]:
print("Aitken \n Abraham")

Aitken
 Abraham

In [7]:
x = ["john" , "mary" , "david" , "adam" ]
x.insert(2,"james")
print(x)

['john', 'mary', 'james', 'david', 'adam']

In [8]:
x = ["simpaul" , "satra" , "hysham" , "noel" ]
x.insert(2,"Aitken")
print(x)

['simpaul', 'satra', 'Aitken', 'hysham', 'noel']

In [12]:
x = ["simpaul" , "santra" , "hysham" , "noel" ]
n=input("enter a name")
y=int(input("enter index no"))
x.insert(y,n)
print(x)

enter a nameAitken
enter index no1
['simpaul', 'Aitken', 'santra', 'hysham', 'noel']

In [14]:
def tia():
  y=int(input("enter index"))
  n=input("enter a name")
  x.insert(y,n)

In [16]:
tia()

enter index2
enter a namehysham

In [17]:
x

['simpaul', 'Aitken', 'hysham', 'hysham', 'santra', 'hysham', 'noel']

In [18]:
tia()

enter index4
enter a namehysham

In [19]:
x

['simpaul', 'Aitken', 'hysham', 'hysham', 'hysham', 'santra', 'hysham', 'noel']

In [20]:
def Aitken():
  x=int(input("enter number"))
  y=int(input("enter number"))
  print(x-y)
  print(x/y)
  print(x*y)

In [21]:
Aitken()

enter number4
enter number69
-65
0.057971014492753624
276

In [22]:
def maths(a,b):
  print(a+b)

In [23]:
x=int(input("enter first value"))
y=int(input("enter second value"))
maths(x,y)

enter first value6
enter second value7
13

In [26]:
def maths(a,b):
  print(a-b)

In [28]:
x=int(input("enter first value"))
y=int(input("enter second value"))
maths(x,y)

enter first value7
enter second value6
1

In [33]:
def maths(a,b):
  print(a/b)

In [32]:
x=int(input("enter first value"))
y=int(input("enter second value"))
maths(x,y)

enter first value8
enter second value4
2.0

In [34]:
def maths(a,b):
  print(a*b)

In [35]:
x=int(input("enter first value"))
y=int(input("enter second value"))
maths(x,y)

enter first value4
enter second value5
20